version: '2.3'

services:
    python:
        build:
            context: .
            dockerfile: docker/Dockerfile
        runtime: nvidia
        environment:
            - NVIDIA_VISIBLE_DEVICES=all
            - NVIDIA_DRIVER_CAPABILITIES=all
        volumes:
            - .:/usr/src
            - /mnt/D/Data/animefacedataset:/usr/src/data/animefacedataset
            - /mnt/D/Data/tagged-anime-illustrations:/usr/src/data/danbooru
            - /mnt/D/Data/illustration2vec:/usr/src/data/illustration2vec
        working_dir: /usr/src
        tty: true